*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(52, 52, 53);
}

.container{
    background-image: url(gifs/clear.gif);
    background-size: cover;
    border: none;
    display: block;
    margin: 40px auto;
    min-width: 20rem;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0px 5px 10px black;
    padding-top: 5px;
    padding-bottom: 10px;
}

#weathericon{
    height: fit-content;
    text-align: center;
    font-size: 100px;
    margin: 130px auto;
    font-family: monospace;
    text-shadow: 0px 0px 10px black;
}
#city{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: monospace;
    text-align: center;  
    text-shadow: 0px 0px 5px black;  
}
#date{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    font-family: monospace;
    text-shadow: 0px 0px 5px black;
}
#temp{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: monospace;
    text-shadow: 0px 0px 5px black;
}
#minmax{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: monospace;
    text-shadow: 0px 0px 5px black;
}

#search-bar{
    width: 95%;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: black;
    opacity: 50%;
}
#input{
    width: 87%;
    border: none;
    height: 25px;
    outline: none;
    background-color: transparent;
    color: white;
    margin-left: 10px;
}
#btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}